:root {
  --dark-mode-bg: rgb(26, 83, 92);
  --dark-mode-text: rgb(247,255,247);
  --dark-mode-red: rgb(255,107,107);
  --dark-mode-yellow: rgb(255,230,109);
  --dark-mode-green: rgb(133,153,0);
    
  --dark-mode-text-highlight: rgb(0, 137, 66);
  --dark-mode-orange: rgb(203,75,22);

  --dark-mode-blue: rgb(38,139,210);
  --dark-mode-purple: rgb(133, 0, 64);
  --dark-mode-cyan: rgb(42,161,152);
  --dashboard-entry-color: rgb(0, 101, 123);
}


body {
  min-height: 100vh;
  color: var(--dark-mode-text);
  background: var(--dark-mode-bg);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
